include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include requirements-test.txt
recursive-include requirements *

recursive-include sisposto *.html *.png *.gif *js *.css *jpg *jpeg *svg *py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
