{% load staticfiles %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title>{% trans "Sign In" %}</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "smartadmin/css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "smartadmin/css/font-awesome.min.css" %}">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "smartadmin/css/smartadmin-production.css" %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static "smartadmin/css/smartadmin-skins.css" %}">

		<!-- SmartAdmin RTL Support is under construction
			<link rel="stylesheet" type="text/css" media="screen" href="{% static "smartadmin/css/smartadmin-rtl.css" %}"> -->

{#		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->#}
{#		<link rel="stylesheet" type="text/css" media="screen" href="{% static "smartadmin/css/demo.css" %}">#}

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="{% static "smartadmin/img/favicon/favicon.ico" %}" type="image/x-icon">
		<link rel="icon" href="{% static "smartadmin/img/favicon/favicon.ico" %}" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
	</head>
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="{% static "smartadmin/img/logo.png" %}" alt="SmartAdmin"> </span>
			</div>
            {% block login_register_button %}
			<span id="login-header-space"> <span class="hidden-mobile">Não possui uma conta?</span> <a href="{% url "account_signup" %}" class="btn btn-danger">Crie sua conta</a> </span>
            {% endblock login_register_button %}
		</header>

		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">

				<div class="row">
                    {% block content %}
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                    {% block coluna_esquerda %}
						<h1 class="txt-color-red login-header-big">SGT - Sistema de Gerênciamento de Transportes</h1>
						<div class="hero">

							<div class="pull-left login-desc-box-l">
								<h4 class="paragraph-header">Secretaria de Estado da Administração<br/>Diretoria Geral de Transportes</h4>

{% comment %}								<div class="login-app-icons">
									<a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
									<a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
								</div>{% endcomment %}
							</div>

{#							<img src="{% static "smartadmin/img/demo/iphoneview.png" %}" class="pull-right display-image" alt="" style="width:210px">#}

						</div>

{% comment %}						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
								</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">Not just your average template!</h5>
								<p>
									Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
								</p>
							</div>
						</div>{% endcomment %}

					</div>
                    {% endblock coluna_esquerda %}
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    {% block coluna_direita %}
						<div class="well no-padding">
                            {% block login_register_form_block %}
							<form action="{% url "account_login" %}" id="login-form" class="smart-form client-form" method="post">
                                {% csrf_token %}
								<header>
									{% trans "Sign In" %}
								</header>

								<fieldset>
                                    {% if form.non_field_errors %}

                                        <div class="alert alert-warning fade in" data-dismiss="alert">
                                            <i class="fa-fw fa fa-warning"></i>
                                            {% for erro in form.non_field_errors %}
                                                {{ erro }}<br/>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <section>
										<label class="label" for="{{ form.login.id_for_label }}">
                                            {% if form.login.label %}
                                                {{ form.login.label  }}
                                            {% else %}
                                                E-mail
                                            {% endif %}
                                        </label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
{#											<input type="email" name="email" id="{{ form.login.auto_id }}">#}
                                            {% crispy_field form.login %}
											<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                                {% if form.login.help_text %}
                                                    {{ form.login.help_text }}
                                                {% else %}
                                                    Insira seu usuário ou email
                                                {% endif %}</b>
                                        </label>
									</section>

									<section>
										<label class="label" for="{{ form.password.id_for_label }}">
                                            {% if form.password.label %}
                                                {{ form.password.label  }}
                                            {% else %}
                                                E-mail
                                            {% endif %}
                                        </label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
{#											<input type="password" name="password" id="{{ form.password.auto_id }}">#}
                                            {% crispy_field form.password %}
											<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Insira sua senha</b> </label>
										<div class="note">
											<a href="{% url "account_reset_password" %}">Esqueceu a senha?</a>
										</div>
									</section>

									<section>
										<label class="checkbox" for="{{ form.remember.id_for_label }}">
{#											<input type="checkbox" name="remember" checked="false" id="{{ form.remember.auto_id }}">#}
                                             {% crispy_field form.remember %}
											<i></i>Manter-me logado</label>
									</section>
                                    <section>
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                    </section>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										{% trans "Sign In" %}
									</button>
								</footer>
							</form>
                        {% endblock login_register_form_block %}
						</div>
                        {% endblock coluna_direita %}

{% comment %}						<h5 class="text-center"> - Or sign in using -</h5>

                        <ul class="list-inline text-center">
                            <li>
                                <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>{% endcomment %}

					</div>
                {% endblock content %}
				</div>
			</div>

		</div>

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="{% static "smartadmin/js/plugin/pace/pace.min.js" %}"></script>-->

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="{% static "smartadmin/js/libs/jquery-2.0.2.min.js" %}"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="{% static "smartadmin/js/libs/jquery-ui-1.10.3.min.js" %}"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
		<script src="{% static "smartadmin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js" %}"></script> -->

		<!-- BOOTSTRAP JS -->
		<script src="{% static "smartadmin/js/bootstrap/bootstrap.min.js" %}"></script>

		<!-- JQUERY VALIDATE -->
		<script src="{% static "smartadmin/js/plugin/jquery-validate/jquery.validate.min.js" %}"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{% static "smartadmin/js/plugin/masked-input/jquery.maskedinput.min.js" %}"></script>

		<!-- browser msie issue fix -->
		<script src="{% static "smartadmin/js/plugin/msie-fix/jquery.mb.browser.min.js" %}"></script>

		<!-- SmartClick: For mobile devices -->
		<script src="{% static "smartadmin/js/plugin/smartclick/smartclick.js" %}"></script>

		<!--[if IE 7]>

			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="{% static "smartadmin/js/app.js" %}"></script>

		<script type="text/javascript">
{#			runAllForms();#}

{% comment %}
			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						{{ form.login.name }} : {
							required : true,
							email : false
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						{{ form.login.name }} : {
							required : 'Por favor, entre com seu endereço de email institucional',
							email : 'Por favor, entre com um endereço de email VÁLIDO. ex: fulano@secad.to.gov.br'
						},
						password : {
							required : 'Por favor, entre com sua senha'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
{% endcomment %}
		</script>

	</body>
</html>
