{% extends "account/login.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block login_register_button %}
<span id="login-header-space"> <span class="hidden-mobile">Já possui conta?</span> <a href="{% url "account_login" %}" class="btn btn-danger">Faça Login</a> </span>
{% endblock login_register_button %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h2>{% trans "Change Password" %}</h2>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
  </div>
</div>
{% endblock %}
