{% extends "account/login.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block login_register_button %}
<span id="login-header-space"> <span class="hidden-mobile">Já possui conta?</span> <a href="{% url "account_login" %}" class="btn btn-danger">Faça Login</a> </span>
{% endblock login_register_button %}




{% block coluna_direita %}
            {% if token_fail %}<h2>{% trans "Bad Token" %}</h2>{% endif %}

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        <div class="well no-padding">
            {% block login_register_form_block %}
                {% if form %}
                    <form method="POST" action="" class="smart-form">
                        <header>
                            {% trans "Change Password" %}
                        </header>
                        {% csrf_token %}

                        <fieldset>
                            {{ form|as_crispy_errors}}
                            {{ form|crispy }}
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                {% trans "change password" %}
                            </button>
                        </footer>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endblock login_register_form_block %}
        </div>
        {% endif %}


{% endblock coluna_direita %}








