{% extends "email-templates/basic.html" %}
{% load account %}
{% load i18n %}
{% user_display user as user_display %}
{% autoescape off %}
        {% block titulo %}{% blocktrans %}E-mail de confirmação{% endblocktrans %}{% endblock titulo %}
        {% block lead %}
            {% blocktrans with current_site.name as site_name %}
            O <strong>{{ user_display }}</strong> do <strong>{{ site_name }}</strong> deu este endereço de e-mail.
            {% endblocktrans %}
        {% endblock %}
        {% block corpo %}
            Para confirmar que isto é correcto, clique no link abaixo
        {% endblock %}
        {% block callout %}
            <a href="{{ activate_url }}">{{ activate_url }}</a>
        {% endblock %}
{% endautoescape %}
