{% extends "email-templates/basic.html" %}
{% load i18n %}
{% block titulo %}{% blocktrans %}Password Reset E-mail{% endblocktrans %}{% endblock titulo %}
{% block lead %}
    {% blocktrans with site.domain as site_domain %}
        You're receiving this e-mail because you or someone else has requested a password for your user account at
        {{ site_domain }}.
    {% endblocktrans %}
{% endblock lead %}
{% block corpo %}
    {% blocktrans %}
        It can be safely ignored if you did not request a password reset. Click the link below to reset your
        password.
    {% endblocktrans %}
{% endblock corpo %}
{% block callout %}
    {{ password_reset_url }}
{% endblock %}
In case you forgot, your username is {{ user.username }}.

Thanks for using our site!

