{% load crispy_forms_field %}

{% if field.is_hidden %}
	{{ field }}
{% else %}

	<{% if tag %}{{ tag }}{% else %}section{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} state-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field|is_checkbox %}
            {% if label_class %}
                <div class="controls col-{{ bootstrap_device_type }}-offset-{{ label_size }} {{ field_class }}">
            {% endif %}
        {% endif %}

        {% if field.label and not field|is_checkbox and form_show_labels %}
			<label for="{{ field.id_for_label }}" class="label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
				{{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
			</label>
		{% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include 'crispysmartadmin/layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_radioselect %}
            {% include 'crispysmartadmin/layout/radioselect.html' %}
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                <label for="{{ field.id_for_label }}" class="checkbox {% if field.field.required %} requiredField{% endif %}">
                    {% crispy_field field %}
                    <i></i>
                    {{ field.label|safe }}
                    {% include 'crispysmartadmin/layout/help_text_and_errors.html' %}
                </label>
            {% else %}
                <label class="input {{ field_class }} {% if field|is_select %}select select-multiple{% endif %}{% if field|is_file %}input-file{% endif %}">
                    {% crispy_field field %}
                    {% include 'crispysmartadmin/layout/help_text_and_errors.html' %}
                </label>
            {% endif %}
        {% endif %}
        {% if field|is_checkbox %}
            {% if label_class %}
                </div>
            {% endif %}
        {% endif %}
	</{% if tag %}{{ tag }}{% else %}section{% endif %}>

{% endif %}
