{% extends "veiculos/veiculo_base.html" %}
{% load staticfiles %}
{% block extrastyle %}
     <link rel="stylesheet" type="text/css" href="{% static "css/tables2/bootstrap-tables2.css" %}">
{% endblock %}


{% load crispy_forms_filters %}
{% load render_table from django_tables2 %}

{% block content_title %}
    Veiculo Lista
{% endblock %}


{% block content_define %}


    {% if table %}
        {% render_table table "django_tables2/tables4.html"%}
    {% else %}
        Não há itens
    {% endif %}

    {% if form %}
        <form method="post">
        {% csrf_token %}
            {{ form | crispy }}
            <label>
                <input type="submit">
            </label>
        </form>

    {% endif %}


{% endblock %}

